/****Form****/

/*--- contact_form ------*/
#contact-form {
	position: relative;
	margin-top: 56px;
}
#contact-form label {
	position: relative;
	/*!*/
	display: block;
	min-height: 70px;
	margin-bottom: 0px;
	width: 100%;
	width: 370px;
	box-shadow: none;
}
#contact-form label.last{margin-right: 0;}
#contact-form label.message{width: 100%; float: none;}
#contact-form label.phone{margin-right: 0;}
#contact-form span {display: block;}
#contact-form ._placeholder {
	position: absolute;
	/*!*/
	left: 0;
	right: 0;
	top: 0;
	/*top: 0 !important;*/
	bottom: 0;
	cursor: text;
	padding: 13px 10px 13px 19px;
	font:14px/20px "Ubuntu", Arial, Helvetica, sans-serif;
	color: #6b7173;
	display: block;
}
#contact-form ._placeholder.focused {
	opacity: .4;
	filter: alpha(opacity=40);
	/*.box-shadow(0px 0px 7px 0px rgba(0, 0, 255, 0.5));*/
}
#contact-form ._placeholder.hidden {
	display: none;
}
input{-webkit-appearance:none;}
#contact-form input,
#contact-form textarea {
	outline: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 13px 10px 13px 19px;
	font:14px/20px "Ubuntu", Arial, Helvetica, sans-serif;
	color: #6b7173;
	border: none;
	border: 1px solid #e6e6e6;
	border-radius: 0;
	width: 100%;
	background: #f3f3f3;
	box-shadow: none;
	-webkit-appearance:none;
	resize: none;
	height: 48px;

	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
}
#contact-form textarea {
	width: 100%;
	height: 428px;
	margin-bottom: 0;
	overflow: hidden;
}
#contact-form .message {
	width: 100%;
}
#contact-form .error-message,
#contact-form .empty-message {
	height: 0;
	overflow: hidden;
	font: 10px/20px Arial;
	-webkit-transition: 0.3s ease-in height;
	-moz-transition: 0.3s ease-in height;
	-o-transition: 0.3s ease-in height;
	transition: 0.3s ease-in height;
	position: absolute;
	right: 3px;
	top: 0;
}
#contact-form .invalid .error-message,
#contact-form .empty .empty-message {
	height: 20px;
}
#contact-form .success-message {
	position: absolute;
	overflow: hidden;
	height: 0;
	left: 0;
	top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #f3f3f3;
	border-radius: 0;
	z-index: 10;
	width: 100%;
	width: 370px;
	text-align: center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	padding: 0px 0;
}
#contact-form.success .success-message {
	height: 188px;
	padding: 85px 0 0;
	border: none;
	border: 1px solid #e6e6e6;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.form_btns {
	display: block;
	float: right;
	margin-top: 40px;
}
.form_btns a {
	margin-left: 20px;
	margin-top: 2px !important;
	padding: 14px 42px !important;
	float: left;
}
/*--- contact_form end------*/

@media only screen and (max-width: 1199px) {
	#contact-form {padding-top: 0;}
	#contact-form .success-message {width: 100%;}

	#contact-form label{width: 100%; float: none;}

}


@media only screen and (max-width: 767px) {
	#contact-form textarea {height: 300px !important;}
	#contact-form {margin-top: 30px;}
	#contact-form.success .success-message {height: 188px; padding-top: 85px;}
}
@media only screen and (max-width: 479px) {
	#contact-form textarea {height: 200px !important;}
}

