@media only screen and (max-width: 400px) {

    .scritteNavMobile{
        margin-top:5px;
        margin-left: -400px;
    }
}

@media only screen and (min-width: 1000px) {
  
    .mymediaquer{
        display: none;
    }
    
  }


