@font-face {
    font-family: myFirstFont;
    src: url(./JockeyOne-Regular.otf);
}


.bg-white {
    background-color: #191970!important;
}

.navbar-toggler-icon {
    color: #191970!important;
   
  }
  
  .navbar-dark .navbar-toggler-icon {
    background-image: none!important;
}
.buttonNavbar{
    border: none!important;
    background-color: white!important;
}

  .navbar-toggler{
    color: #191970!important;
  }

.iconNavbar{
    color: #191970!important;
    font-size: 30px!important;
}
.Jocky{
    font-family: myFirstFont;
    text-transform: uppercase;
}

.Jocky h2:hover 
{color: #191970;
    font-family: myFirstFont;
    font-size: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.whiteDesktopTxt{
    font-family: myFirstFont;
    margin-top: 1px;
    color: #fff;
    text-align: left;
    font-size: 25px;
    margin-left: 850px  

}

.whiteMobileTxt{
    font-family: myFirstFont;
    margin-top: 1px;
    color: #fff;
    text-align: left;
    font-size: 25px;
    margin-left: 35px; 

}


.whiteDesktop{
    font-family: myFirstFont;
    margin-top: 1px;
    color: #fff;
    text-align: right;
    font-size: 18px;
    margin-left:40px;
   

}

.whiteMobile{
    font-family: myFirstFont;
    margin-top: 1px;
    color: #fff;
    text-align: right;
    font-size: 18px;
    margin-left: 35px; 

}


.top_section {
    position: relative;
    background: #191970;
    padding: 7px 0 10px;
    height: 50px;
}

.txtNavbar{
    font-family: myFirstFont;
    position: relative;
    display: block;
    color: #191970;
    padding: 0px 10px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    letter-spacing: 1px;
}

.google-maps {
    position: relative;
    padding-bottom:30%; 
    height: 350px;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.titoloSezione{
    font-family: myFirstFont;
    margin-top: -15px;
    color: #191970;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
}

.heightHref{
    height: 390px;
}

.Mybutton{
   cursor: pointer;
}

.scrittaIntro {
    font: 500 18px/18px 'Ubuntu', Arial, sans-serif;
    margin-top: 20px;
    color: #413f44;
    padding-bottom: 7px;
    line-height: 25px;
}

.scrittaTesto{

    font: 13px/13px 'Ubuntu', Arial, sans-serif;
    
    color: grey;
    padding-bottom: 7px;
}

.logoNav{
    width: 9%;
    margin-left: 100px;
}

.scritteNav{
    margin-left: 400px;
    margin-top:5px
}

.heightNav{
    height: 115px
}

.myLinkNav{
    display: inline-block;
    color: #191970;
    text-decoration: none;
    font-family: myFirstFont;
    font-size: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    

    
}
.myLinkNav::after{
    background: #dc143c;
    transition: width .3s;
    display: block;
}

.myLinkNav:hover::after {
    width: 100%;
    transition: width .3s;
    background : #dc143c;
}

.iconColour{
    color: rgb(65, 63, 68);
}

.testoFooter{
    color: rgb(65, 63, 68);
    text-transform: uppercase;
    margin-top: 16px;
    font-size: 25px;
    font-family: myFirstFont;
}

li {
    margin-bottom: 10px;
}

.cool-link {
    display: inline-block;
    color: #191970;
    text-decoration: none;
}


.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #dc143c;
    transition: width .3s;
}

.cool-link2 {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #191970;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    background-color: #dc143c;
    
    /* //transition: width .3s; */
}

.mydropbtn {
    background-color: #fff;
    display: inline-block;
    color: #191970;
    text-decoration: none;
    font-family: myFirstFont;
    font-size: 17px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer
}

.mydropdown {
    position: relative;
    display: inline-block;
    
}

.mydropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer
}

.mydropdown-content p {
    color: #fff;
    font-family: myFirstFont;
    font-size: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.mydropdown-content p:hover {color: #191970;
    font-family: myFirstFont;
    font-size: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mydropdown:hover .mydropdown-content {display: block; background-color: #dc143c;}

.mydropdown:hover .mydropbtn {color: #dc143c;}

a:hover {
    color: #dc143c;
    text-decoration: none !important;
}

/* h3:hover {
    color: #dc143c;
    text-decoration: none !important;
} */

.imgIniziale {
  
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.titoloServizi{
    color: rgb(25, 25, 112);
    margin-top: 60px;
    text-transform: uppercase;
    padding-bottom: 21px;
    font-family: myFirstFont;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.titoliSezioneServizi{
    color: rgb(25, 25, 112);
    font-size: 22px;
    text-transform: uppercase;
    font-family: myFirstFont;
}

.testoServizi p{
    font-family: myFirstFont;
    color: grey;
    font-size: 18px; 
}

.mycard {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}
.mycard .mycard-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

/* CONTACT FORM */

#contact-form input, #contact-form textarea {
    color: rgb(107, 113, 115);
    width: 100%;
    box-shadow: none;
    -webkit-appearance: none;
    resize: none;
    height: 48px;
    box-sizing: border-box;
    outline: none;
    padding: 13px 10px 13px 19px;
    font: 14px/20px Ubuntu, Arial, Helvetica, sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
    border-radius: 0px;
    background: rgb(243, 243, 243);
}

.contactButton{
    border-radius: 3px;
    border: 1px;
    color: #dc143c;
    text-transform: uppercase;
    background-color: #191970;
    font-family: myFirstFont;
}
.contactButton:hover  a{color: #dc143c;}

.top75{
    margin-top: -75px;
}

.logoCertified{
    width: 12%; 
    margin-top: 50px;
}
.titoloCertified{
    text-align : center; 
    margin-top: -40px
}

.margin15 {
    margin: 15% 15% 5%;
}

.top25{
    margin-top: 25px;
}

.top55{
    margin-top: 55px;
}

.cardPrimaPhone {
    position: relative;
    height: 760px;
    width: 100%;
    /* margin-top: -100px;
    margin: 100px auto; */
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  }


  .top100{
    margin-top: 100px;
}
/* MEDIA QUERY */

@media screen and (max-width: 450px) and (min-width: 100px) {

    .scritteNav{
        margin-left: 115px;
        margin-top:15px
        
    }

    .inline{
        display: inline;
    }

    .logoNav{
        width: 20%;
        margin-left: 50px;
    }
    .imgIniziale {
        position: relative;
        width: 100%;
        height: 515px;
        overflow: hidden;
        border-bottom: 1px solid rgb(231, 231, 231);
    }

    .cardPrimaPhone {
        position: relative;
        height: 975px;
        width: 100%;
        /* margin-top: -100px;
        margin: 100px auto; */
        background-color: #FFF;
        -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
      }

      .scrittaIntroPhone {
        font: 500 18px/18px 'Ubuntu', Arial, sans-serif;
        margin-top: -6px;
        color: #413f44;
        padding-bottom: 7px;
    }
      .top75{
        margin-top: 75px;
    }
    .top50{
        margin-top: 50px;
    }

    .top100{
        margin-top: 100px;
    }

    .top25{
        margin-top: 25px
    }

    .top80{
        margin-top: 80px
    }

    .top-100{
        margin-top: -100px;
    }

    .top-125{
        margin-top: -125px;
    }

    .titoloCertified{
        text-align : center; 
        margin-top: -40px
    }

    .logoCertified{
        width: 40%; 
        margin-top: 50px;
    }

    .titoloSezione {
        font-family: myFirstFont;
        /* margin-top: 40px; */
        color: #191970;
        letter-spacing: -1px;
        text-transform: uppercase;
        text-align: center;
        font-size: 38px;
    }

    .top40{
        top:40px;
    }

    .top75{
        margin-top: 75px;
    }

    .top25{
        margin-top: 25px;
    }

    .top15{
        margin-top: 15px;
    }

    .margin15 {
        margin: 15% 15% 5%;
    }
    
    .top-55{
        margin-top: -55px;
    }

    .top-150{
        margin-top: -150px;
    }

    .top-155{
        margin-top: -155px;
    }

    .top-160{
        margin-top: -160px;
    }

    .top-125{
        margin-top: -125px;
    }

    .top-10{
        margin-top: -10px;
    }
    .serviziImage {
        width: 70%;
    }

    .thumbnailDestraServiziPhone {
        float: left;
        position: relative;
        top: -30px;
        height: 115px;
        width: 150px;
        -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
        overflow: hidden;
    }

    .cardServiziPhone {
        position: relative;
        height: 250px; 
        width: 100%;
        /* margin: 200px auto; */
        /* background-color: #FFF; */
        -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    }

    .cardServiziPhone {
        position: relative;
        height: 300px;
        width: 100%;
        /* margin: 200px auto;
        background-color: #FFF; */
        -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
      }

      .height300{
          height: 300px;;
      }

      .height275{
        height: 275px;;
    }
  
      .displayNone{
          display:none;
      }


      .cardPrima {
        position: relative;
        height: 765px;
        width: 100%;
        background-color: #FFF;
        -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
      }

  }


  @media screen and (max-width: 2500x) and (min-width: 400px) { 
      
    .phoneDisplay {
          display: none;
    }

    } 
